<script type="text/javascript">
  $(document).ready(function() {
    $('.navbar-left > li:eq(1)').addClass('active');
  });
</script>

<h1>Eventos</h1>

<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="/assets/events/event-01.png" alt="">
      <div class="caption">
        <h3>Evento 1</h3>
        <p class="text-justify">Fusce a metus eu diam varius congue nec nec sapien. Vestibulum orci tortor, sollicitudin ac euismod non, placerat ac augue. Nunc convallis accumsan justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        <a href="#" class="btn btn-default">Ver más</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail">
      <img src="/assets/events/event-02.png" alt="">
      <div class="caption">
        <h3>Evento 2</h3>
        <p class="text-justify">Fusce a metus eu diam varius congue nec nec sapien. Vestibulum orci tortor, sollicitudin ac euismod non, placerat ac augue. Nunc convallis accumsan justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        <a href="#" class="btn btn-default">Ver más</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail">
      <img src="/assets/events/event-03.png" alt="">
      <div class="caption">
        <h3>Evento 3</h3>
        <p class="text-justify">Fusce a metus eu diam varius congue nec nec sapien. Vestibulum orci tortor, sollicitudin ac euismod non, placerat ac augue. Nunc convallis accumsan justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        <a href="#" class="btn btn-default">Ver más</a>
      </div>
    </div>
  </div>
</div>