<h3>Centro de Innovación, Investigación y Desarrollo en Ingeniería y Tecnología</h3>

<style type="text/css">
.list-group-item.active a {
  color: #fff;
}
</style>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Áreas de Investigación</h3>
      </div>
      
      <ul class="list-group">
        <li class="list-group-item active visible-xs"></li>
        <li class="list-group-item"><a href="#a1" data-toggle="tab">Nanotecnología</a></li>
        <li class="list-group-item"><a href="#a2" data-toggle="tab">Materiales avanzados</a></li>
        <li class="list-group-item"><a href="#a3" data-toggle="tab">Mecatrónica</a></li>
        <li class="list-group-item"><a href="#a4" data-toggle="tab">Microscopía Electrónica</a></li>
        <li class="list-group-item"><a href="#a5" data-toggle="tab">Cómputo Científico</a></li>
      </ul>
    </div>
  </div>

  <div class="col-md-9">
<div class="tab-content">
  <div class="tab-pane active" id="a0">

    <div id="carousel-example-generic" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="/assets/home-slider/nanotecnologia.jpg" alt="">
          <div class="carousel-caption"></div>
        </div>
        <div class="item">
          <img src="/assets/home-slider/materiales-avanzados.png" alt="">
          <div class="carousel-caption"></div>
        </div>
        <div class="item">
          <img src="/assets/home-slider/mecatronica.jpg" alt="">
          <div class="carousel-caption"></div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="icon-prev"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="icon-next"></span>
      </a>
    </div>
  </div>
  <div class="tab-pane" id="a1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Nanotecnología</h3>
      </div>
      <div class="panel-body">
        Los proyectos de desarrollo en el área de nanotecnología en el CIIDIT incluyen los siguientes:<br><br>
        Interacción de nanopartículas de plata con HIV-1<br>
        Destrucción de células enfermas<br>
        Nanopartículas paramagnéticas-conductoras tipo core-shell<br>
        Purificación de aguas residuales<br>
        Nanopartículas de magnetita en quitosán<br>
        Sistemas de entrega localizada de medicamento<br>
        Posicionamiento de nanopartículas en una región específica del cuerpo<br>
        Nanopartículas de aleación Titanio-Níquel<br>
        Activadores eléctricos y/o térmicos<br>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="a2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Materiales avanzados</h3>
      </div>
      <div class="panel-body">
        Los proyectos de desarrollo en el área de materiales avanzados en el CIIDIT incluyen los siguientes:<br><br>
        Polímeros aldólicos conjugados<br>
        Aplicaciones en dispositivos fotoelectrónicos<br>
        Composite híbrido de resina Poliéster-montmorillonita<br>
        Propiedades mecánicas mejoradas a más bajo costo<br>
        Suspensión de nanofibras de carbono con propiedades electroreológicas<br>
        Sensores, actuadores, MEMS y NEMS<br>
        Polímeros luminescentes con propiedades de autoensamblaje<br>
        Biosensores<br>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="a3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Mecatrónica</h3>
      </div>
      <div class="panel-body">
        Los proyectos de desarrollo en el área de mecatrónica en el CIIDIT incluyen los siguientes:<br><br>
        Robótica<br>
        Autotrónica<br>
        Control de la apertura y cierre de ventanas, puertas, limpiaparabrisas, etc.<br>
        Sistema electrónico para el frenado, manejo, encendido del motor, luces, etc.<br>
        Domótica<br>
        Monitoreo de acceso y automatización de edificios, auditorios, casas<br>
        Motorización de puertas, ventanas, persianas<br>
        Drones (vehículos aéreos no tripulados)<br>
        Control y prevención de incendios, operaciones de salvamento<br>
        Tráfico vehicular, seguridad pública<br>
        Biomecatrónica<br>
        Prótesis, sillas eléctricas, monitoreo de signos vitales<br>
        Diseño y construcción de prototipos<br>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="a4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Microscopía Electrónica</h3>
      </div>
      <div class="panel-body">
        LOL
      </div>
    </div>
  </div>
  <div class="tab-pane" id="a5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Cómputo Científico</h3>
      </div>
      <div class="panel-body">
        LOL
      </div>
    </div>
  </div>
</div>

  </div>
</div>

<br>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Acerca del CIIDIT</h3>
      </div>
      <div class="panel-body">
        <p class="text-justify">El CIIDIT es un Centro multidisciplinario e integrador de la UANL constituido por laboratorios de última generación para distintas disciplinas de la ingeniería y tecnología; contando además con un Centro de Administración del Conocimiento, salas de usos múltiples con tecnología de vanguardia, áreas equipadas para uso de investigadores y estudiantes, para la educación continua y para uso administrativo.</p>

        <p class="text-justify">El Centro comprende las áreas emergentes estratégicas para el desarrollo industrial, económico y productivo a nivel regional y nacional. Su objetivo es dar un impulso decisivo al fortalecimiento de los cuerpos académicos de la Universidad, a los posgrados, a las redes multidisciplinarias de investigación y promover la internacionalización de la Institución mediante la firma de convenios de vinculación con otros centros e instituciones de prestigio mundial.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Eventos</h3>
      </div>
      <div class="panel-body">
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="/assets/events/event-01.png" alt="">
            <div class="caption">
              <h3>Evento 1</h3>
              <p class="text-justify">Fusce a metus eu diam varius congue nec nec sapien. Vestibulum orci tortor, sollicitudin ac euismod non, placerat ac augue. Nunc convallis accumsan justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
              <a href="#" class="btn btn-default">Ver más</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <img src="/assets/events/event-02.png" alt="">
            <div class="caption">
              <h3>Evento 2</h3>
              <p class="text-justify">Fusce a metus eu diam varius congue nec nec sapien. Vestibulum orci tortor, sollicitudin ac euismod non, placerat ac augue. Nunc convallis accumsan justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
              <a href="#" class="btn btn-default">Ver más</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <img src="/assets/events/event-03.png" alt="">
            <div class="caption">
              <h3>Evento 3</h3>
              <p class="text-justify">Fusce a metus eu diam varius congue nec nec sapien. Vestibulum orci tortor, sollicitudin ac euismod non, placerat ac augue. Nunc convallis accumsan justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
              <a href="#" class="btn btn-default">Ver más</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>